@use '../../_global.module.scss' as global;

.commandDetailsContainer {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
    min-width: 300px;
  }
}

.commandDetailsHeader {
  width: 100%;
}

.informationPaneContainer {
  min-width: 300px;
}

.bottomSectionContainer {
  @extend %bottomSectionContainer;
}
